<span class="md-button-wrapper app-list">
   <a [routerLink]="['data']">Categoria 1</a>
</span>
<span class="md-button-wrapper app-list">
   <a [routerLink]="['metadata']">Categoria 2</a>
</span>
<router-outlet></router-outlet>
