<div>
  <div *ngFor="let attribute of attributes; let i = index">
    <zb-attribute-form (userUpdated)="handleUserUpdated($event)" *ngIf="attribute.category == attrRoute"  [reciveIndex]="i" [parentObject]="attribute" ></zb-attribute-form>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <button md-raised-button color="accent" (click)="onAddItem()">ADD</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12 col-md-6">
    </div>
    <div class="col-xs-12 col-md-6">
      <button md-raised-button color="accent" [disabled]="boolFlag">SAVE</button>
    </div>
  </div>

</div>





