<hr>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="app-content md2 md-card">
    <md-icon role="img" (click)="onDelete()" class="md2 md-icon material-icons cursor-pointer" aria-label="build">delete</md-icon>
    <md-input placeholder="Name"
              type="text"
              class="form-control"
              id="name"
              formControlName="name">
    </md-input>

    <div *ngIf="myForm.controls.name.hasError('required')" [ngInit]="play" class="toast-display"> Name is required</div>
    <md-input placeholder="description"
              type="text"
              class="form-control"
              id="description"
              formControlName="description">
    </md-input>

    <div *ngIf="myForm.controls.description.hasError('required')" [ngInit]="play" class="toast-display"> Description is required</div>
    <button md-raised-button color="primary">{{label_string}}-{{label_display}}</button>
    <!--<md-icon *ngIf="!myForm.valid"  role="img" class="md2 md-icon material-icons cursor-pointer" aria-label="build">error</md-icon>-->
    <md-icon role="img" (click)="onPress();" class="md2 md-icon material-icons cursor-pointer" aria-label="build">dialpad</md-icon>
  </div>

  <div [hidden]="edited" class="alert alert-success box-msg" role="alert">
    <div class="app-content md2 md-card">
      <md-input placeholder="device"
                type="text"
                class="form-control"
                id="device"
                formControlName="device">
      </md-input>
      <div *ngIf="myForm.controls.device.hasError('required')" [ngInit]="play" class="toast-display"> Device is required</div>
      <md-input placeholder="default"
                type="text"
                class="form-control"
                id="default"
                formControlName="default">
      </md-input>
      <div *ngIf="myForm.controls.default.hasError('required')"[ngInit]="play" class="toast-display"> Default is required</div>
    </div>
    <div class="app-content md2 md-card">
        <div  class="app-content md2 md-card">
            <select name="datatype" (change)="callType()" formControlName="datatype" >
              <option *ngFor="let type of types" [value]="type.value">
                {{type.display}}
              </option>
            </select>
            <select name="format" (change)="callType()" formControlName="format" >
              <option *ngFor="let format of formats" [value]="format.value">
                {{format.display}}
              </option>
            </select>
        </div>
    </div>
    <div *ngIf="flagenum" class="alert alert-success box-msg" role="alert">
      <div class="app-content md2 md-card">
        <div class="col s6">
         <md-input placeholder="enumeration"
                    type="text"
                    class="form-control"
                    id="enumeration"
                    formControlName="enumeration">
          </md-input>
          <button md-raised-button color="primary" (click)="onAddSubItem()">NEW TAG</button>
        </div>
        <div class="col s6">
          <span *ngFor="let Inputattribute of parentObject.listenum; let j = index">
            <div md-raised-button color="accent" >
              <span (click)="onDeleteSubItem(j);">[x]</span> {{Inputattribute}}
            </div>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="flagrange" class="alert alert-success box-msg" role="alert">
      <div class="app-content md2 md-card">
        <md-input placeholder="rangemin"
                  type="text"
                  class="form-control"
                  id="rangemin"
                  formControlName="rangemin">
        </md-input>
        <md-input placeholder="rangemax"
                  type="text"
                  class="form-control"
                  id="rangemax"
                  formControlName="rangemax">
        </md-input>
        <div *ngIf="myForm.hasError('mismatchedRange')"[ngInit]="play" class="toast-display"> Rmax is not greater than Rmin</div>
        <div *ngIf="myForm.hasError('mismatchInterval')"[ngInit]="play" class="toast-display"> Values must be in Rmax/Rmin range</div>
      </div>
      <div class="app-content md2 md-card">
        <md-input placeholder="uom"
                  type="text"
                  class="form-control"
                  id="uom"
                  formControlName="uom">
        </md-input>
        <md-input placeholder="precision"
                  type="text"
                  class="form-control"
                  id="precision"
                  formControlName="precision">
        </md-input>
        <md-input placeholder="accuracy"
                  type="text"
                  class="form-control"
                  id="accuracy"
                  formControlName="accuracy">
        </md-input>
        <div *ngIf="myForm.hasError('mismatchedaccu')"[ngInit]="play" class="toast-display"> Invalid value for Accuracy</div>
        <div *ngIf="myForm.hasError('mismatchedprec')"[ngInit]="play" class="toast-display"> Invalid value for Precision</div>

      </div>

    </div>
  </div>
</form>
<div *ngIf="!edited" class="box-msg" role="alert">
  <h4>Form input changes</h4>
  <pre><code>{{ output | json }}</code></pre>
</div>


