<p>
  form-template works!
</p>

<h1>Template Driven</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">


  <md-card class="app-input-section" ngModelGroup="attributeData">
      <select name="role" [(ngModel)]="attribute.type">
        <option *ngFor="let type of types" [value]="type.value">
          {{type.display}}
        </option>
      </select>
    <md-input placeholder="Name"
              [(ngModel)]="attribute.name"
              name="name"
              required
              #name="ngModel">
    </md-input>
    <div *ngIf="!name.valid">
      Invalid Name
    </div>
    <md-input placeholder="Description"
              [(ngModel)]="attribute.description"
              name="description"
              required>
    </md-input>
    <md-input placeholder="Device Resourece Type"
              [(ngModel)]="attribute.drt"
              name="drt"
              required>
    </md-input>
    <md-input placeholder="Default Value"
              [(ngModel)]="attribute.dv"
              name="dv"
              required>
    </md-input>
    <md-input placeholder="Data Type"
              [(ngModel)]="attribute.dt"
              name="dt"
              required>
    </md-input>
    <md-input placeholder="Format"
              [(ngModel)]="attribute.format"
              name="format"
              required>
    </md-input>
    <md-input placeholder="Enum"
              [(ngModel)]="attribute.enum"
              name="enum"
              required>
    </md-input>
  <!--
    <md-input placeholder="Min"
              [(ngModel)]="attribute.min"
              name="min"
              required>
    </md-input>

    <md-input placeholder="max"
              [(ngModel)]="attribute.max"
              name="max"
              required>
    </md-input>

    <md-input placeholder="Unit of Mesurement"
              [(ngModel)]="attribute.uom"
              name="uom"
              required>
    </md-input>
    -->



    <!--

    <md-select placeholder="Food i would like to eat" [formControl]="foodControl">
      <md-option *ngFor="let food of foods" [value]="food.value"> {{ food.viewValue }} </md-option>
    </md-select>

    <md-input #nickname placeholder="Nickname" maxlength="50">
      <md-hint align="end">
        {{nickname.characterCount}} / 50
      </md-hint>
    </md-input>

    <md-input>
      <md-placeholder>
        <i class="material-icons app-input-icon">android</i> Favorite phone
      </md-placeholder>
    </md-input>

    <md-input placeholder="Motorcycle model">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
    </md-input>-->
  </md-card>




  <!--<div ngModelGroup="userData">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             [(ngModel)]="user.username"
             name="username"
             required>
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text"
             class="form-control"
             id="email"
             [(ngModel)]="user.email"
             name="email"
             required
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
             #email="ngModel">
      <div *ngIf="!email.valid">
        Invalid email
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           [(ngModel)]="user.password"
           name="password"
           required>
  </div>
  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio"
             name="gender"
             [(ngModel)]="user.gender"
             [value]="g">
      {{g}}
    </label>
  </div>-->
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
